<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <div class="card image-container p-2" *ngIf="hasImage(product)">
        <img [src]="product.productImages[0].url" class="product-zoom-image">
      </div>
      <div class="card image-container mt-1 text-center p-3" *ngIf="!hasImage(product)">
        <p style="padding-bottom: 15px"> No images available for the product </p>
        <div>
          <mat-icon color="lightgray" style="float: left; margin-left: 45%; font-size: 24px;">cancel</mat-icon>
        </div>
      </div>
      <div class="mt-2" *ngIf="hasImage(product)">
        <mat-grid-list cols="3" gutterSize="10" rowHeight="1:1">
          <mat-grid-tile *ngFor="let file of product.productImages" style="border: 1px solid lightgray;">
            <img [src]="file.url" height="130px">
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
    <div class="col-6">
      <div class="product-information">
        <div class="mt-3">
          <h2 style="font-size: 24px;">{{product.name}}</h2>
          <h2 style="font-size: 18px;">Vendor: {{product.vendor}}</h2>
        </div>
        <div class="mt-3">
          <div style="padding-bottom: 8px">Product Description:</div>
          <div>{{product.description}}</div>
        </div>
        <div class="mt-3" style="float: left; margin-left: 60%;">
          <b>Price: {{product.price}} <mat-icon style="font-size: 18px; vertical-align: middle;">euro_symbol</mat-icon></b> &nbsp; <b>Quantity: {{product.quantity}}</b>
        </div>
        <div class="mt-3 text-center" *ngIf="isUser()" style="float: left; margin-left: 65%;">
          <button mat-raised-button color="warn" style="width: 200px;" (click)="buyProduct(product.id)"> Buy </button>
        </div>
        <div class="mt-3" *ngIf="isAdmin()" style="float: left; margin-left: 65%;">
          <button mat-icon-button color="primary" (click)="editProductDetails(product.id)">
            <mat-icon style="font-size: 24px; vertical-align: middle;"> edit </mat-icon>
          </button> &nbsp; Edit Product Data
        </div>
      </div>
    </div>
  </div>
</div>
