<div class="container mt-3">
  <form #searchKey="ngForm" (ngSubmit)="searchByKeyWord(searchKey.value)" class="search-form">
    <div class="input-container">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Search Product by namer or vendor</mat-label>
        <input matInput
               ngModel
               name="searchKey"
               id="searchKey"
               placeholder="Fetch a product specifying a name or a vendor">
        </mat-form-field>
      </div>
      <button type="submit" mat-raised-button color="primary" class="search-button">Search</button>
  </form>

  <div class="card text-center mt-3" style="color:darkred; padding: 30px;" *ngIf="noProducts">
    <h1>{{message2}}</h1>
  </div>

  <mat-grid-list cols="4" rowHeight="3:5" gutterSize="10" *ngIf="!noProducts">
    <mat-grid-tile *ngFor="let p of productDetails">
      <div class="row p-3">
        <div class="image-container">
          <img class="admin-page-product-image" [src]="p.productImages[0].url" alt="" *ngIf="hasImage(p)">
          <div class="mt-5 text-center" *ngIf="!hasImage(p)">
            <p style="padding-bottom: 15px"> No images available for the product </p>
            <div>
              <mat-icon color="lightgray" style="float: left; margin-left: 45%; font-size: 24px;">cancel</mat-icon>
            </div>
          </div>
        </div>
        <div class="mt-3" style="padding-bottom: 15px">
          <p><b>{{p.name}}</b></p>
          <p><b>Vendor: {{p.vendor}} </b></p>
        </div>
        <div class="mt-2" style="float: left; margin-left: 55%; padding-bottom: 15px">
          <b>Price: {{p.price}} <mat-icon style="font-size: 18px; vertical-align: middle;">euro_symbol</mat-icon> </b>
        </div>
        <div class="mt-2" style="float: left; margin-left: 30%;">
          <button type="button" mat-raised-button color="warn" (click)="showProductDetails(p.id)"> View Product Details </button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="text-center mt-5" style="padding-bottom:100px;">
    <button type="button" mat-raised-button color="primary" (click)="loadPreviousPage()" *ngIf="showPrevious">Previous Page</button> &nbsp;
    <button type="button" mat-raised-button color="primary" (click)="loadNextPage()" *ngIf="showNext">Next Page</button>
  </div>
  <!--
        <div class="mt-2">
          <p style="white-space: inherit; height: 40px; width:288px; overflow: hidden; text-overflow: ellipsis;">{{p.description}}</p>
        </div>
        -->
        <!--&nbsp; <b>Quantity: {{p.quantity}}</b>-->
  <!--
  <div class="card text-center" style="color:darkred; padding: 30px;">
    <h1>Welcome Administrator!</h1>
    <h1>{{message}}</h1>
  </div>
  -->
</div>
